<div class="jumbotron">
  <div class="jumbotron-inner">
     <!-- col-md-6 col-md-offset-3 -->
    <h2 class="title">应届生求职网</h2>
    <p class="slogan">欢迎来到应届生求职网!
      <br>
      我们致力于打造面向应届生的专业求职平台，
      <br>
      快来试试吧！
    </p>
    <p class="lead">
      <a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>
    </p>
  </div>
</div>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">我就是我，最不一样的烟火</h2>
        <p class="lead">谁又不是与众不同的呢？期待你发现新的自己</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">人生就是在路上，风景随走随看</h2>
        <p class="lead">你的风景在等你，<a target="_blank" href="/jobs">出发吧!</a>啦啦啦别怕</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">抬头<br>看到蓝天了吧</h2>
        <p class="lead">这里是你头顶的一片<a target="_blank" href="/jobs/">蓝天</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>





<br>
<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcjw1fbz1n0jf04j30ao0ao3ye.jpg" alt="search" class="img-thhumbnail">
          <div class="caption" class="center">
            <h3>宇宙中心五道口</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcjw1fbz1oi3gsfj30ao0aot8n.jpg" alt="bid" class="img-thhumbnail">
          <div class="caption" class="center">
            <h3>helper@yingjiesheng.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcjw1fbz1p5gp8mj30ao0aoglj.jpg" alt="heart" class="img-thhumbnail">
          <div class="caption" class="center">
            <h3>010-85668888</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
