<div class="jumbotron">
  <h1 class="title">应届生求职网</h1>
  <p class="slogan">欢迎来到应届生求职网!
    <br>
    我们致力于打造面向应届生的专业求职平台，
    <br>
    快来试试吧！
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>
  </p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcjw1fbz1n0jf04j30ao0ao3ye.jpg" alt="search" class="img-thhumbnail">
          <div class="caption">
            <h3>宇宙中心五道口</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcjw1fbz1oi3gsfj30ao0aot8n.jpg" alt="bid" class="img-thhumbnail">
          <div class="caption">
            <h3>helper@yingjiesheng.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcjw1fbz1p5gp8mj30ao0aoglj.jpg" alt="heart" class="img-thhumbnail">
          <div class="caption">
            <h3>010-85668888</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
