<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">Copyright ©2017 应届生求职网
      <br>Design by
      <a href="http://mason-zi-blog.logdown.com/" target=_new>应届生</a>
    </p>
  </div>
</footer>
